<div th:fragment="navbar" class="d-flex flex-column sidebar min-vh-100 position-fixed top-0 start-0">
  <ul class="nav flex-column align-items-center">
    <!-- Home -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/}" data-bs-toggle="tooltip" data-bs-placement="right" title="Home">
        <i class="bi bi-house-door fs-3"></i>
      </a>
    </li>

    <!-- Accounts -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/accounts}" data-bs-toggle="tooltip" data-bs-placement="right" title="Accounts">
        <i class="bi bi-wallet2 fs-3"></i>
      </a>
    </li>

    <!-- Transactions -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/transactions}" data-bs-toggle="tooltip" data-bs-placement="right" title="Transactions">
        <i class="bi bi-cash-coin fs-3"></i>
      </a>
    </li>

    <!-- Categories -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/categories}" data-bs-toggle="tooltip" data-bs-placement="right" title="Categories">
        <i class="bi bi-tags fs-3"></i>
      </a>
    </li>

    <!-- Reports -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/reports}" data-bs-toggle="tooltip" data-bs-placement="right" title="Reports">
        <i class="bi bi-bar-chart fs-3"></i>
      </a>
    </li>

    <!-- Logout -->
    <li class="nav-item mt-auto">
      <button class="btn btn-danger w-100" onclick="logoutUser()">
        <i class="bi bi-box-arrow-right fs-3"></i>
      </button>
    </li>
  </ul>

  <!-- Dark Mode Toggle Button - PRZENIESIONY I DODANY mt-auto -->
  <a id="themeToggle" href="javascript:void(0)" class="nav-link mt-auto align-self-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Mode">
    <i class="bi bi-moon-stars fs-3"></i>
  </a>

  <!-- Bootstrap Tooltip Initialization -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
  </script>
</div>
