<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <section>
        <h1 class="text-center">Category Management</h1>
        <h3>Add New Category</h3>
        <form id="categoryForm" class="mb-4">
            <div class="form-group">
                <label for="categoryNameInput">Name of Category</label>
                <input type="text" id="categoryNameInput" name="name" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-success mt-4">Add New Category</button>
        </form>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="categoryTable"></tbody>
        </table>
        <script src="/js/categories.js"></script>
    </section>
</div>
</body>
</html>