<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Financial Overview</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center mb-4 display-2">Categories</h1>
    <section class="container mt-4">
        <div class="row">
            <!-- Formularz filtra -->
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title lead">Filters</h3>
                    </div>
                    <div class="card-body">
                        <form id="filterForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="accountSelect" class="form-label">Account</label>
                                    <select class="form-select" id="accountSelect" required>
                                        <option value="">Loading accounts...</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="monthInput" class="form-label">Month</label>
                                    <input type="month" class="form-control" id="monthInput" required>
                                </div>
                                <div class="col-md-4 d-flex align-items-end">
                                    <button type="submit" class="btn btn-primary w-100">Show Data</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Panel z danymi -->
            <div class="col-md-8">
                <div id="dataContainer"></div>
            </div>

            <!-- Panel z listą kategorii -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title lead">Categories Legend</h3>
                    </div>
                    <div class="card-body">
                        <ul id="categoriesList" class="list-group"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="/js/categories.js"></script>
</div>
</body>
</html>