<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form id="loginForm" action="api/auth/login" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required/>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required/>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                        </div>
                    </form>
                    <div id="errorMessage" class="text-danger" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Zapobiega domyślnemu wysłaniu formularza

        var formData = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        };

        fetch("http://localhost:8080/api/auth/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json", // Wysyłamy dane jako JSON
            },
            body: JSON.stringify(formData), // Zamienia obiekt na JSON
            credentials: 'same-origin' // Ważne, aby ciasteczka były wysyłane
        })
        .then(response => {
            console.log('Response status:', response.status);
            console.log('Response headers:', response.headers);

            if (response.ok) {
                window.location.href = "/"; // Przekierowanie na stronę główną
            } else {
                document.getElementById("errorMessage").style.display = "block";
                document.getElementById("errorMessage").textContent = "Invalid username or password!";
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });



</script>
</body>
</html>
