<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<body>
<section layout:fragment="content" class="container my-4">
  <h1 class="text-center mb-4">Reports</h1>

  <!-- Podsumowanie miesięczne -->
  <h2 class="section-title">Monthly Summary</h2>
  <div class="form-row mb-3">
    <div class="form-group col-md-4">
      <label for="yearSelect">Choose year:</label>
      <select id="yearSelect" class="form-control" onchange="loadMonthlySummary()">
        <option value="">Select year</option>
        <!-- Opcje roku będą ładowane dynamicznie -->
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="monthSelect">Select Month:</label>
      <select id="monthSelect" class="form-control" onchange="loadMonthlySummary()">
        <option value="">Select month</option>
        <option value="All">All</option>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="categorySelect">Select Categories:</label>
      <select id="categorySelect" class="form-control" multiple onchange="loadMonthlySummary()">
        <!-- Opcje kategorii będą dodawane dynamicznie -->
      </select>
    </div>
  </div>

  <!-- Kontener na podsumowanie miesięczne -->
  <div id="monthlySummary" class="mb-4"></div>

  <!-- Wykresy -->
  <h2 id="expensesChartTitle" class="section-title" style="display:none;">Expenses per Category</h2>
  <div id="expensesChartContainer" style="display:none;">
    <canvas id="expensesChart" width="400" height="200"></canvas>
  </div>

  <h2 id="incomeChartTitle" class="section-title" style="display:none;">Income per Category</h2>
  <div id="incomeChartContainer" style="display:none;">
    <canvas id="incomeChart" width="400" height="200"></canvas>
  </div>

  <!-- Skrypty aplikacji -->
  <script src="/js/transactions.js"></script>
  <script src="/js/reports.js"></script>
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</section>
</body>
</html>
